.mainContainer {
    margin: 0 auto;
    width: 70rem;
}

@media (max-width: 768px) {
    html {
        font-size: 95%;
    }
    .mainContainer {
        grid-template-columns: 1fr; 
        max-width: 90%;
     }
}